package ${package.Mapper};

import ${package.Entity}.${entity}DO;
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Mapper;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
@Mapper
interface ${table.mapperName} : ${superMapperClass}<${entity}DO>
#else
@Mapper
public interface ${table.mapperName} extends ${superMapperClass}<${entity}DO> {

}
#end
