package ${package.ServiceImpl};

import ${package.Entity}.${entity}DO;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Repository;

/**
 * <p>
 * $!{table.comment} Repository 实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Repository
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}DO>(), ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends
    ${superServiceImplClass}<${table.mapperName}, ${entity}DO> implements
    ${table.serviceName} {

}
#end
