package ${package.Service};

import ${package.Entity}.${entity}DO;
import ${superServiceClassPackage};

/**
 * <p>
 * $!{table.comment} Repository 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}DO>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}DO> {

}
#end
